{% extends "layout.html" %}



{% block main %}
<main role="main" class="container">

<div class="d-flex align-item-center p-3 my-3 text-purple-50 bg-purple rounded shadow-sm">
  <img class="mr-3" src="../static/f.jpg" alt width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 text-black lh-100">Garbage</h6>
    <small>Since 2019</small>
  </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Chat Rooms</h6>
  {% for room in rooms %}
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <a href="{{ url_for('chat', room=room) }}"><strong class="d-block text-gray-dark">{{ room }}</strong></a>
    </p>
  </div>
  {% endfor %}
</div>

{% endblock %}
