<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/style.css">


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if not notloggedin %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Flack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Chat Rooms</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input id="newChatName" name="newChatName" class="form-control mr-sm-2" type="text" placeholder="Chat Name" aria-label="Search">
          <button id="newChat" class="btn btn-outline-success my-2 my-sm-0" type="button">Create New Chat</button>
        </form>
      </div>
    </nav>
    {% endif %}
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
  </body>
</html>
